@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("./animations.css");
@import url('../../js/scroll.js');

/* ============================================
    1. Base Global Styling
=============================================*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-primary);
    font-family: 'Funnel Sans', sans-serif;
}

h2, p {
    color: var(--text-primary);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
}

ul {
    list-style: none;
    padding: 0;
}

#hero, #about,
#skills, #experience,
#projects, #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6%;
    width: 100%;
    /* Temporary height */
    height: 1080px;
}

#hero, #skills,
#projects {
    background-color: var(--bg-secondary);
}

#about, #experience,
#contact {
    background-color: var(--bg-primary);
}

/* ============================================
    2. Nav Bar
=============================================*/

nav {
    display: flex;
    position:fixed;
    width: auto;
    border: 1px solid var(--border);
    border-radius: 14px;
    justify-content: center;
    margin-top: 10px;
    background-color: var(--surface);
    backdrop-filter: blur(5px);
    padding: 0 20px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav a {
    color: var(--text-primary);
}

nav ul li {
    margin: 8px 10px;
    padding: 6px 12px;
    border-radius: 18px;
    transition: background-color 0.3s ease-in-out 0s;
    font-weight: 500;
}

nav ul li:hover {
    background-color: #b6b6b6;
}

nav ul li.active a {
    color: white;
}

nav ul li.active {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* ============================================
    3. Hero Section
=============================================*/

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* ============================================
    4. About Section
=============================================*/



/* ============================================
    5. Skills Section
=============================================*/
.skill-container {
    display: flex;

}

.skill-card {
    display: flex;
    flex-direction: column;
    width: 80px;
    text-align: center;
    background-color: var(--surface);
    margin: 0 30px;
};


/* ============================================
    6. Experience Section
=============================================*/



/* ============================================
    7. Projects Section
=============================================*/



/* ============================================
    8. Contact Section
=============================================*/