/* ======================================
    Colors
=======================================*/

/* Light Mode */
:root {

    /* ===== BACKGROUNDS ===== */
    --bg-primary: #faf9f8;        /* offwhite */
    --bg-secondary: #E2E9D8;      /* beige */
    --surface: #ffffff30;          

    /* ===== TEXT ===== */
    --text-primary: #1E1E24;      /* shadow gray */
    --text-secondary: #81717A;    /* dusty mauve */
    --text-muted: #b2b7bb;        /* mid gray */

    /* ===== BORDERS ===== */
    --border: #DDD1C7;

    /* ===== ACCENTS ===== */
    --accent-primary: #FF521B;    /* tiger flame */
    --accent-secondary: #6F732F;  /* olive */

}

/* Dark Mode */
:root {

    /* ===== BACKGROUNDS ===== */
    --bg-primary: #121214;
    --bg-secondary: #1A1A1F;
    --surface: #1F1F2530;

    /* ===== TEXT ===== */
    --text-primary: #F2F2F2;
    --text-secondary: #C5C8CC;
    --text-muted: #8A9096;

    /* ===== BORDERS ===== */
    --border: #2A2A32;

    /* ===== ACCENTS ===== */
    --accent-primary: #FF6A3D;   /* lifted tiger flame */
    --accent-secondary: #9BA64C; /* lifted olive */

}